<!DOCTYPE html>
<html  lang = "en">
    <head>
        {{>head}}
        <title>Dummy Website</title>

        
    </head>
    <body>
        
        
        {{>bsnavbar}}

        <div class="container">
            {{{body}}}
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></script>
    </body>
</html>